.cart {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 4.8rem;

  /* background-color: #fff9db; */
  /* border: 1px solid blue; */
}

/* .cart_container {
  max-width: 80rem;
  
  margin: 0 auto;
  padding: 4.8rem;

} */

/* <ul> */
.cart_list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  /* border: 1px solid red; */
}
.cart_list_li {
  list-style: none;
  /* margin-bottom: 1.6rem; */

  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  display: grid;
  grid-template-columns: 15rem 1fr 7rem 15rem;
  grid-template-rows: 10rem;
  align-items: center;

  column-gap: 1.6rem;
  row-gap: 1.6rem;

  /* border: 1px solid lightskyblue; */
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--text);
}

.cart_list_li_img {
  max-width: 100%;
  height: 10rem;
  object-fit: contain;
  /* border: 1px solid grey; */
}

.cart_title {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--text);
  transition: all 0.3s;
}
.cart_title:hover,
.cart_title:active {
  color: var(--hover);
}

.cart_price {
  font-size: 1.8rem;
  justify-self: flex-end;
}

.cart_amount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2rem;
}
.cart_amount_nr {
  font-size: 1.8rem;
}
.cart_amount_btns {
  display: flex;
  gap: 0.5rem;
}
.cart_amount_add,
.cart_amount_min {
  width: 3rem;
  height: 3rem;
  /* border-radius: 50%; */

  /* font-size: 2.4rem; */
  /* font-weight: 500; */
  border: none;
  cursor: pointer;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_total {
  font-size: 1.8rem;

  align-self: flex-end;
}

.cart_btn_pay {
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 0.8rem 1.6rem;
  background-color: lightcoral;
  border: none;
  border-radius: 4px;

  align-self: flex-end;
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
