.contacts {
  background-color: lightgray;
}

.contacts_container {
  max-width: 80rem;
  /* height: 9.6rem; */

  margin: 0 auto;
  padding: 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4.8rem;
  row-gap: 1.6rem;

  font-size: 1.8rem;
  font-weight: 500;

  background-color: white;
  border: 1px solid lightslategray;
}

.contacts_mob,
.contacts_mob:link,
.contacts_mob:visited {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
  transition: all 0.3s;

  /* border: 1px solid grey; */
}

.contacts_mob:hover,
.contacts_mob:active {
  color: var(--hover);
}

.contacts_email,
.contacts_email:link,
.contacts_email:visited {
  /* text-decoration: none; */
  color: var(--text);
  transition: all 0.3s;

  /* border: 1px solid grey; */
}

.contacts_email:hover,
.contacts_email:active {
  color: var(--hover);
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
