.header {
  background-color: lightcyan;
}

.header_container {
  max-width: 80rem;
  height: 9.6rem;

  margin: 0 auto;
  padding: 0 4.8rem;

  display: flex;
  align-items: center;

  background-color: white;
  /* border: 1px solid lightgray; */
}

.logo,
.logo:link,
.logo:visited {
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--text);
  transition: all 0.3s;

  display: flex;
  align-items: center;

  /* height: 2.2rem; */

  /* border: 1px solid lightgray; */
}
.logo:hover,
.logo:active {
  color: var(--hover);

  /* opacity: 0.5; */

  /* border: 1px solid red; */
}

/**************************/
/* NAVIGATION */
/**************************/

.main_nav {
  margin-left: auto;

  /* border: 1px solid lightgray; */
}

/* <ul> element */
.main_nav_list {
  font-size: 1.8rem;
  font-weight: 500;
  list-style: none;
  color: var(--text);

  display: flex;
  align-items: center;
  gap: 4.8rem;

  /* border: 1px solid lightgreen; */
}

/* <a> element inside <li> */
.main_nav_link,
.main_nav_link:link,
.main_nav_link:visited {
  text-decoration: none;
  /* display: inline-block; */
  /* padding: 16px 32px; */

  display: flex;
  align-items: center;

  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text);
  transition: all 0.3s;

  /* border: 1px solid grey; */
}

.main_nav_link:hover,
.main_nav_link:active {
  color: var(--hover);
}

.main_nav_link.active {
  font-weight: 800;
  text-decoration: underline;
  color: var(--hover);
}
