.hero {
  padding: 4.8rem;

  text-align: center;
  background-color: rgba(144, 238, 144, 0.2);
  border-bottom: 1px solid lightgrey;
}

/* .hero_container {
  max-width: 80rem;
  
  margin: 0 auto;
  padding: 2.4rem;
  
  background-color: rgba(144, 238, 144, 0.2);
  border: 1px solid lightgrey;
} */

.hero_txt {
  font-size: 2.4rem;
  color: var(--text2);
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
