.pay {
  /* background-color: #fff9db; */
  padding: 4.8rem;

  /* border: 1px solid blue; */
}

/* .pay_container {
  max-width: 80rem;
  
  margin: 0 auto;
  padding: 4.8rem;
  
  border: 1px solid blue;
} */

.pay_form {
}

.pay_form_group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  margin-bottom: 2.4rem;

  /* border: 1px solid lightgray; */
}

.pay_label {
  font-size: 1.8rem;
}

.pay_input {
  font-family: inherit;
  font-size: 1.8rem;
  padding: 0.8rem;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.pay_btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 0.8rem 1.6rem;
  background-color: lightskyblue;
  border: none;
  border-radius: 4px;
}
.pay_btn[disabled] {
  background-color: #ced4da;
  cursor: auto;
}

.pay_form_error {
  font-size: 1.6rem;
  color: red;
}

/* input:focus-visible {
  border-color: red;
} */

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
