.product {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: 5.6rem 5.6rem; */
  column-gap: 2.4rem;
  row-gap: 1.6rem;
}

.image_container {
  border: 1px solid blue;
}
.product_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.description_container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  /* border: 1px solid green; */
}

.product_title {
  font-size: 2.4rem;
  font-weight: 600;
}

.product_description {
  font-size: 1.6rem;
}

.price_container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.product_price {
  font-size: 2rem;
  font-weight: 600;
}

.product_btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  background-color: lightseagreen;
  border: none;
  border-radius: 4px;
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
