/**************************/
/* HERO SECTION */
/**************************/

.shop {
  background-color: #fff9db;
}

.shop_container {
  max-width: 80rem;

  margin: 0 auto;
  padding: 4.8rem;

  /* display: flex;
  align-items: flex-start;
  gap: 1rem; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;

  border: 1px solid orangered;
}

.shop_txt {
  font-size: 2rem;
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
